{% extends 'base.html.twig' %}

{% block title %}Anti Passoire{% endblock %}

{% block searcher %}
    {% include 'searcher.html.twig' %}
{% endblock %}

{% block body %}

    {% if searcherResponseMsg == '' %}
        <div class="welcome">
            <p>T'as encore oublié un truc ?</p>
            <p>Fais une recherche !</p>
        </div>
    {% else %}
        <div class="search-result">
            <p class="search-result-msg">{{ searcherResponseMsg }}</p>
            <ul class="search-result-antipassoires">
            {% for antiPassoire in antiPassoires %}
                <li
                        class="antipassoire">
                    <a href="{{ path('app_antipassoire_show', {slug: antiPassoire.slug}) }}"
                    >
                        <div class="antipassoire-categories">
                        {% for category in antiPassoire.categories %}
                            <div class="category-label">{{ category.label }}</div>
                        {% endfor %}
                        </div>
                        <div class="antipassoire-title">{{ antiPassoire.title }}</div>
                        <p class="antipassoire-excerpt">
                            {{ antiPassoire.text|striptags|raw > 80
                                ? antiPassoire.text|striptags|raw|slice(0, 81)|split(' ')|slice(0, -1)|join(' ') ~ '…'
                                : antiPassoire.text|striptags|raw }}
                        </p>
                    </a>
                </li>
            {% endfor %}
            </ul>
        </div>
        {% if totalFound > searchLimit %}
        <ul id="pagination" class="pagination">
            {% for pageNumber in paginationHelper %}
                <li data-page-number="{{ pageNumber }}"
                    class="
                        {% if pageNumber == actualPageValue %}
                            current
                        {% elseif pageNumber is numeric %}
                            clickable
                        {% endif %}
                    "
                >{{ pageNumber }}</li>
            {% endfor %}
        </ul>
        {% endif %}
    {% endif %}
{% endblock %}
