{% extends 'base.html.twig' %}

{#{% block stylesheets %}#}
{#    {{ parent() }}#}
{#    {{ encore_entry_link_tags('admin') }}#}
{#{% endblock %}#}

{% block navbarList %}
    <li><a href="{{ path('admin_category_list') }}">Categories</a></li>
    <li><a href="{{ path('admin_antipassoire_list') }}">Aides</a></li>
{% endblock %}

{#{% block javascripts %}#}
{#    {{ encore_entry_script_tags('admin') }}#}
{#{% endblock %}#}
