<!DOCTYPE html>
<html lang="fr">
    <head>
        <meta charset="UTF-8">
        <meta content="width=device-width, initial-scale=1.0" name="viewport">
        <title>{% block title %}Anti Passoire!{% endblock %}</title>
        <meta name="author" content="Richard Meuret">
        <meta name="descritpion" content="Une sorte de mémo lié au web dev">
        <meta name="keywords" content="web, tips">
{#        <link rel="icon" type="image/png" href="fav.png"/>#}
        <link rel="icon" href="data:image/svg+xml,<svg xmlns=%22http://www.w3.org/2000/svg%22 viewBox=%220 0 128 128%22><text y=%221.2em%22 font-size=%2296%22>⚫️</text></svg>">
        {# Run `composer require symfony/webpack-encore-bundle` to start using Symfony UX #}
        {% block stylesheets %}
            {{ encore_entry_link_tags('app') }}
        {% endblock %}
    </head>
    <body>
        <header>
            <div class="container">
                <h1>
                    <a href="{{ path('app_home') }}">
                        Anti Passoire
                    </a>
                </h1>

                {% include 'rebus.html.twig' %}

{#                <div class="login">#}
                {% if is_granted('IS_AUTHENTICATED_FULLY') %}
                    <a class="login" href="{{ path('app_logout') }}">Déconnexion</a>
                {% else %}
                    <a class="login" href="{{ path('app_login') }}">Connexion</a>
                {% endif %}
{#                </div>#}
            </div>
        </header>

        <main>
            <div class="left-col">
                {% if is_granted('ROLE_CONTRIBUTOR') %}
                <nav class="admin-navbar">
                    <ul class="admin-navbar_item_list">
                        {% if is_granted('ROLE_ADMIN') %}
                        <li class="admin-navbar_item">
                            <a class="admin-navbar_item_label" href="{{ path('admin_user_list') }}">Utilisateurs</a>
                        </li>
                        {% endif %}

                        <li class="admin-navbar_item">
                            <div class="admin-navbar_item_label">Categories</div>
                            <div class="admin-navbar_item_links">
                                <a class="admin-navbar_item_link" href="{{ path('admin_category_list') }}">Liste</a>
                                <a class="admin-navbar_item_link" href="{{ path('admin_category_create') }}">Créer</a>
                            </div>
                        </li>
                        <li class="admin-navbar_item">
                            <div class="admin-navbar_item_label">Aides</div>
                            <div class="admin-navbar_item_links">
                                <a class="admin-navbar_item_link" href="{{ path('admin_antipassoire_list') }}">Liste</a>
                                <a class="admin-navbar_item_link" href="{{ path('admin_antipassoire_create') }}">Créer</a>
                            </div>
                        </li>

                        {% block navbarList %}{% endblock %}
                    </ul>
                </nav>
                {% endif %}

                {% block searcher %}{% endblock %}
            </div>

            <div class="content">
                {% block body %}{% endblock %}
            </div>
        </main>

    {% block javascripts %}
        {{ encore_entry_script_tags('app') }}
    {% endblock %}
    </body>
</html>
